* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body {
    display: flex;
    width: 1440px;
    padding: 100px 0px 200px 0px;
    flex-direction: column;
    overflow-y: hidden;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
    background: #D6E2F0;
}

.container {
   
    width: 315px;
    height: 484px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
}
.container img { 
    width: 280px;
    height: 280px;
    border-radius: 15px;
    margin: 18px 17px 9px 18px;
}
.container h3 {
    margin: 0 auto;
    width: 254px;
    color: #1F3251;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.container p {
    margin: 0 auto;
    margin-top: 19px;
    width: 243px;
    color: #7B879D;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}